.searchBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%; /* Забезпечує ширину в рамках контейнера */
}

.input {
  width: 100%; /* Інпут займає всю ширину доступного контейнера */
  box-sizing: border-box; /* Враховує padding і border у ширині */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px; /* Простір між міткою і інпутом */
}
